<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
<body>
    <h1>Buscar Trabajador</h1>
    <form action="../../core/routes.php" method="post">
        <input type="hidden" name="c" value="TrabajadorController">
        <input type="hidden" name="a" value="buscarPorCedula">

        <label for="id">Cedula del Trabajador a Buscar:</label>
        <input type="text" id="cedula" name="cedula" required><br><br>

        <button type="submit">Buscar Trabajador</button>
    </form>
    <br><br>
    <form action="../../core/routes.php" method="post">
        <input type="hidden" name="c" value="TrabajadorController">
        <input type="hidden" name="a" value="buscarPorNombre">

        <label for="id">Nombre del Trabajador a Buscar:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <button type="submit">Buscar Trabajador</button>
    </form>
</body>
</html>