<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Trabajador</title>
</head>
<body>
    <h1>Borrar Trabajador</h1>
    <form action="../../controller/procesar.php" method="post">
        <label for="id">ID del Trabajador a Borrar:</label>
        <input type="text" id="id" name="id" required><br><br>

        <button type="submit" name="formulario" value="borrar">Borrar Trabajador</button>
    </form>
</body>
</html>