<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Trabajador</title>
</head>
<body>
    <h1>Modificar Trabajador</h1>
    <form action="../../index.php" method="post">
        <input type="hidden" name="c" value="TrabajadorController">
        <input type="hidden" name="a" value="modificarTrabajador">

        <label for="id">Cedula del Trabajador a modificar:</label>
        <input type="text" id="cedula" name="cedula" required><br><br><br>
        

        <label for="id">Nuevo nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="id">Nuevo Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br><br>

        <button type="submit" name="formulario" value="modificar">Modificar Trabajador</button>
    </form>
</body>
</html>